In [1]:
import pandas

In [2]:
pandas.Series(['a','b','c','d'])

0    a
1    b
2    c
3    d
dtype: object

In [3]:
pandas.Series(['a','b','c','d'], index=["apple", "banana", "cat", "dog"])

apple     a
banana    b
cat       c
dog       d
dtype: object

In [5]:
d = {'apple':'a', 'banana':'b', 'cat': 'c', 'dog': 'd'}
pandas.Series(d.values(), index=d.keys())

dog       d
cat       c
apple     a
banana    b
dtype: object

In [6]:
list_created = pandas.Series(['a','b','c','d'], index=["apple", "banana", "cat", "dog"])

In [7]:
dictionary_created = pandas.Series(d.values(), index=d.keys())

In [8]:
dictionary_created[0]

'd'

In [9]:
list_created[0]

'a'

In [10]:
pandas.Series(range(100))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
      ..
70    70
71    71
72    72
73    73
74    74
75    75
76    76
77    77
78    78
79    79
80    80
81    81
82    82
83    83
84    84
85    85
86    86
87    87
88    88
89    89
90    90
91    91
92    92
93    93
94    94
95    95
96    96
97    97
98    98
99    99
dtype: int64

In [12]:
colouring = pandas.Series(
    data = ['red', 'yellow', 'black', 'blue', 'purple'],
    index = ['apple', 'banana', 'cat', 'dog', 'elephant'])
colouring

apple          red
banana      yellow
cat          black
dog           blue
elephant    purple
dtype: object

In [13]:
living_things = pandas.DataFrame(
    {
        'colour': colouring,
        'first_letter': dictionary_created
    }
)
living_things

          colour first_letter
apple        red            a
banana    yellow            b
cat        black            c
dog         blue            d
elephant  purple          NaN

In [14]:
living_things.first_letter.isnull()

apple       False
banana      False
cat         False
dog         False
elephant     True
Name: first_letter, dtype: bool

In [16]:
living_things[living_things.first_letter.isnull()].first_letter[0]

nan

In [17]:
elephant_first_letter = living_things[living_things.first_letter.isnull()].first_letter[0]

In [18]:
elephant_first_letter == elephant_first_letter

False

In [21]:
import numpy

In [22]:
numpy.nan

nan

This is how you check for NaN

In [24]:
numpy.isnan(elephant_first_letter)

True

In [26]:
living_things.colour.map(lambda x: x.upper())

apple          RED
banana      YELLOW
cat          BLACK
dog           BLUE
elephant    PURPLE
Name: colour, dtype: object

In [28]:
def safe_uppercase(x):
    if type(x) != type(''):
        return x
    return x.upper()
living_things.first_letter.map(safe_uppercase)

apple         A
banana        B
cat           C
dog           D
elephant    NaN
Name: first_letter, dtype: object

In [29]:
living_things.applymap(safe_uppercase)

          colour first_letter
apple        RED            A
banana    YELLOW            B
cat        BLACK            C
dog         BLUE            D
elephant  PURPLE          NaN

# Sydney Trains
Now let's work with a more complex dataset

In [30]:
trains = pandas.read_csv('sydtrains.csv', index_col=1, thousands=',')
trains

,LINE,YEAR,SURVEY_DATE_USED,WHETHER_SURVEYED,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS,RANK,STATION_SORT_ID
STATION,,,,,,,,,,,,,,,,,,
Central,CBD,2014,6/05/2014,Yes,940,920,10390,42070,21400,30150,45370,16270,19010,7700,97110,97110,1,101
Town Hall,CBD,2014,7/05/2014,Yes,880,880,6380,43210,16930,23550,43670,15270,21760,6720,89620,89620,2,102
Wynyard,CBD,2014,20/05/2014,Yes,590,570,4710,39620,9200,11180,35010,6510,10690,2330,60200,60200,3,103
Parramatta,Western,2014,19/11/2014,Yes,660,330,7790,13700,7400,7020,14960,8660,4150,5260,34960,34960,4,905
North Sydney,North Shore,2014,19/08/2014,Yes,270,270,2340,18340,4450,5590,17760,3050,3790,1360,28610,28610,5,1402
Redfern,CBD,2014,1/05/2014,Yes,250,250,3910,10690,5350,8170,12510,4250,3660,2320,25680,25680,6,108
Chatswood,North Shore,2014,19/08/2014,Yes,210,200,5030,8200,4710,4930,9430,6000,2820,2860,22200,22200,7,1407
Bondi Junction,Eastern Suburbs,2014,2/09/2014,Yes,210,210,10150,4350,4370,4600,5240,8330,1910,4380,21880,21880,8,203
Strathfield,Inner West,2014,9/09/2014,Yes,190,190,7900,4050,4980,3950,5540,7230,2100,5280,20710,20710,9,1110
Circular Quay,CBD,2014,22/05/2014,Yes,200,200,2110,8750,4340,6710,9910,3380,4070,1600,20630,20630,10,104
Martin Place,CBD,2014,27/05/2014,Yes,200,190,590,14250,2900,3420,12340,1790,4600,970,20630,20630,10,107
Hurstville,Illawarra,2014,28/05/2014,Yes,160,160,7790,2200,5230,4180,3840,7450,1270,4290,18290,18290,12,310
St Leonards,North Shore,2014,27/05/2014,Yes,170,170,3420,8900,3090,3310,8780,3230,2130,1990,17590,17590,13,1405
Blacktown,Western,2014,14/10/2014,Yes,190,210,6460,3370,4270,3450,4600,7090,1040,2450,16560,16560,14,911
Burwood,Inner West,2014,9/09/2014,Yes,140,140,4850,2930,4470,3670,4020,5060,1510,3190,14990,14990,15,1109
Kings Cross,Eastern Suburbs,2014,3/09/2013,No,120,120,3690,3820,3110,2670,4400,3640,1550,2620,12870,12870,16,201
Hornsby,North Shore,2014,14/05/2014,Yes,210,100,5550,2260,3060,2390,2750,5200,680,2290,12250,12250,17,1417
Ashfield,Inner West,2014,4/09/2013,No,100,100,5090,2010,2690,2220,2500,4500,820,2370,11200,11200,18,1107
Kogarah,Illawarra,2014,19/06/2014,Yes,90,100,4000,2970,3150,2320,3210,3450,650,2260,11100,11100,19,307
Lidcombe,South,2014,5/06/2014,Yes,100,100,4570,1620,2870,2210,2550,3900,820,3080,10910,10910,20,702
Auburn,Western,2014,19/11/2014,Yes,130,60,3880,1790,3220,2900,2700,3890,960,2260,10890,10890,21,901
Museum,CBD,2014,22/05/2014,Yes,100,100,800,6290,2220,2340,5980,1230,1760,910,10860,10860,22,106
Epping,Northern via Strathfield,2014,21/05/2014,Yes,170,90,5700,1580,2130,1600,1970,4920,600,2380,10570,10570,23,1208
Macquarie University,Northern via Macquarie Park,2014,21/05/2014,Yes,100,100,1310,3220,2570,3940,4530,1970,1580,860,10090,10090,24,1303
St James,CBD,2014,27/05/2014,Yes,100,90,780,5880,1900,2160,5630,1120,1440,580,9850,9850,25,105
Rockdale,Illawarra,2014,28/05/2014,Yes,90,90,4660,780,2610,2170,1670,3770,610,2820,9640,9640,26,306
Cabramatta,South,2014,11/06/2014,Yes,150,80,3780,1070,2760,2820,1750,3760,290,1000,8730,8730,27,708
Bankstown,Bankstown,2014,13/05/2014,Yes,80,60,3010,1810,2400,2570,2840,3130,300,1050,8630,8630,28,612
Liverpool,South,2014,4/06/2014,Yes,150,80,2510,2270,2510,2260,2610,2650,570,1100,8350,8350,29,710
Sutherland,Illawarra,2014,12/06/2014,Yes,140,70,4260,1460,1920,1650,1750,3900,250,1240,8320,8320,30,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Newcastle,Newcastle,2004,19/06/2003,No,50,20,260,320,720,850,430,200,70,140,1530,1530,123,1917
Waratah,Hunter,2004,16/10/2001,No,0,0,100,100,150,150,120,120,40,30,410,410,193,2001
Warabrook (University),Hunter,2004,16/10/2001,No,10,10,20,250,120,200,300,70,90,20,540,540,185,2002
Sandgate,Hunter,2004,16/10/2001,No,0,0,10,10,10,10,20,20,0,0,40,40,267,2003
Hexham,Hunter,2004,16/10/2001,No,0,0,10,20,10,20,20,10,10,0,50,50,258,2004
Tarro,Hunter,2004,16/10/2001,No,0,0,20,0,0,10,0,10,0,0,20,20,278,2005
Beresfield,Hunter,2004,16/10/2001,No,0,0,180,80,140,110,70,180,10,40,400,400,195,2006
Thornton,Hunter,2004,16/10/2001,No,0,0,150,20,60,80,50,150,10,20,270,270,211,2007
Metford,Hunter,2004,16/10/2001,No,0,0,100,20,50,50,20,90,10,10,180,180,231,2008
Victoria Street,Hunter,2004,16/10/2001,No,0,0,190,50,120,120,70,180,20,50,400,400,195,2009
East Maitland,Hunter,2004,16/10/2001,No,0,0,20,50,50,40,50,20,0,10,120,120,240,2010
High Street,Hunter,2004,16/10/2001,No,0,0,30,40,40,40,30,40,10,0,110,110,248,2011
Maitland,Hunter,2004,16/10/2001,No,0,10,190,100,180,210,150,180,20,40,540,540,185,2012
Telarah,Hunter,2004,24/08/2004,Yes,0,0,110,30,60,60,50,120,20,30,240,240,218,2013
Mindaribba,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2014
Paterson,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,0,10,0,0,10,10,283,2015
Martins Creek,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,0,0,0,0,10,10,283,2016
Hilldale,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2017
Wallarobba,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2018
Wirragulla,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2019
Dungog,Hunter,2004,24/08/2004,Yes,0,0,20,0,10,20,10,20,0,10,40,40,267,2020
Lochinvar,Hunter,2004,24/08/2004,Yes,0,0,10,0,0,0,0,0,0,0,10,10,283,2021
Allandale,Hunter,2004,16/10/2001,No,0,0,0,0,0,0,0,0,0,0,0,0,295,2022
Greta,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2023
Branxton,Hunter,2004,24/08/2004,Yes,0,0,20,0,0,0,0,10,0,10,20,20,278,2024
Belford,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,0,0,0,295,2025
Singleton,Hunter,2004,24/08/2004,Yes,0,0,30,10,0,0,10,30,10,10,50,50,258,2026
Muswellbrook,Hunter,2004,24/08/2004,Yes,0,0,10,0,30,10,0,40,10,20,50,50,258,2027
Aberdeen,Hunter,2004,24/08/2004,Yes,0,0,0,0,0,0,0,0,0,10,10,10,283,2028
Scone,Hunter,2004,24/08/2004,Yes,10,0,0,0,0,0,0,10,0,0,10,10,283,2029

In [31]:
trains.columns

Index([u'LINE', u'YEAR', u'SURVEY_DATE_USED', u'WHETHER_SURVEYED',
       u'IN_0200_0600', u'OUT_0200_0600', u'IN_0600_0930', u'OUT_0600_0930',
       u'IN_0930_1500', u'OUT_0930_1500', u'IN_1500_1830', u'OUT_1500_1830',
       u'IN_1830_0200', u'OUT_1830_0200', u'IN_24_HOURS', u'OUT_24_HOURS',
       u'RANK', u'STATION_SORT_ID'],
      dtype='object')

In [33]:
numeric_columns = [x for x in trains.columns if x.startswith('IN') or x.startswith('OUT')]
numeric_columns

['IN_0200_0600',
 'OUT_0200_0600',
 'IN_0600_0930',
 'OUT_0600_0930',
 'IN_0930_1500',
 'OUT_0930_1500',
 'IN_1500_1830',
 'OUT_1500_1830',
 'IN_1830_0200',
 'OUT_1830_0200',
 'IN_24_HOURS',
 'OUT_24_HOURS']

In [36]:
trains[numeric_columns].applymap(lambda x: x/1000.0)

,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS
STATION,,,,,,,,,,,,
Central,0.94,0.92,10.39,42.07,21.40,30.15,45.37,16.27,19.01,7.70,97.11,97.11
Town Hall,0.88,0.88,6.38,43.21,16.93,23.55,43.67,15.27,21.76,6.72,89.62,89.62
Wynyard,0.59,0.57,4.71,39.62,9.20,11.18,35.01,6.51,10.69,2.33,60.20,60.20
Parramatta,0.66,0.33,7.79,13.70,7.40,7.02,14.96,8.66,4.15,5.26,34.96,34.96
North Sydney,0.27,0.27,2.34,18.34,4.45,5.59,17.76,3.05,3.79,1.36,28.61,28.61
Redfern,0.25,0.25,3.91,10.69,5.35,8.17,12.51,4.25,3.66,2.32,25.68,25.68
Chatswood,0.21,0.20,5.03,8.20,4.71,4.93,9.43,6.00,2.82,2.86,22.20,22.20
Bondi Junction,0.21,0.21,10.15,4.35,4.37,4.60,5.24,8.33,1.91,4.38,21.88,21.88
Strathfield,0.19,0.19,7.90,4.05,4.98,3.95,5.54,7.23,2.10,5.28,20.71,20.71
Circular Quay,0.20,0.20,2.11,8.75,4.34,6.71,9.91,3.38,4.07,1.60,20.63,20.63
Martin Place,0.20,0.19,0.59,14.25,2.90,3.42,12.34,1.79,4.60,0.97,20.63,20.63
Hurstville,0.16,0.16,7.79,2.20,5.23,4.18,3.84,7.45,1.27,4.29,18.29,18.29
St Leonards,0.17,0.17,3.42,8.90,3.09,3.31,8.78,3.23,2.13,1.99,17.59,17.59
Blacktown,0.19,0.21,6.46,3.37,4.27,3.45,4.60,7.09,1.04,2.45,16.56,16.56
Burwood,0.14,0.14,4.85,2.93,4.47,3.67,4.02,5.06,1.51,3.19,14.99,14.99
Kings Cross,0.12,0.12,3.69,3.82,3.11,2.67,4.40,3.64,1.55,2.62,12.87,12.87
Hornsby,0.21,0.10,5.55,2.26,3.06,2.39,2.75,5.20,0.68,2.29,12.25,12.25
Ashfield,0.10,0.10,5.09,2.01,2.69,2.22,2.50,4.50,0.82,2.37,11.20,11.20
Kogarah,0.09,0.10,4.00,2.97,3.15,2.32,3.21,3.45,0.65,2.26,11.10,11.10
Lidcombe,0.10,0.10,4.57,1.62,2.87,2.21,2.55,3.90,0.82,3.08,10.91,10.91
Auburn,0.13,0.06,3.88,1.79,3.22,2.90,2.70,3.89,0.96,2.26,10.89,10.89
Museum,0.10,0.10,0.80,6.29,2.22,2.34,5.98,1.23,1.76,0.91,10.86,10.86
Epping,0.17,0.09,5.70,1.58,2.13,1.60,1.97,4.92,0.60,2.38,10.57,10.57
Macquarie University,0.10,0.10,1.31,3.22,2.57,3.94,4.53,1.97,1.58,0.86,10.09,10.09
St James,0.10,0.09,0.78,5.88,1.90,2.16,5.63,1.12,1.44,0.58,9.85,9.85
Rockdale,0.09,0.09,4.66,0.78,2.61,2.17,1.67,3.77,0.61,2.82,9.64,9.64
Cabramatta,0.15,0.08,3.78,1.07,2.76,2.82,1.75,3.76,0.29,1.00,8.73,8.73
Bankstown,0.08,0.06,3.01,1.81,2.40,2.57,2.84,3.13,0.30,1.05,8.63,8.63
Liverpool,0.15,0.08,2.51,2.27,2.51,2.26,2.61,2.65,0.57,1.10,8.35,8.35
Sutherland,0.14,0.07,4.26,1.46,1.92,1.65,1.75,3.90,0.25,1.24,8.32,8.32
...,...,...,...,...,...,...,...,...,...,...,...,...
Newcastle,0.05,0.02,0.26,0.32,0.72,0.85,0.43,0.20,0.07,0.14,1.53,1.53
Waratah,0.00,0.00,0.10,0.10,0.15,0.15,0.12,0.12,0.04,0.03,0.41,0.41
Warabrook (University),0.01,0.01,0.02,0.25,0.12,0.20,0.30,0.07,0.09,0.02,0.54,0.54
Sandgate,0.00,0.00,0.01,0.01,0.01,0.01,0.02,0.02,0.00,0.00,0.04,0.04
Hexham,0.00,0.00,0.01,0.02,0.01,0.02,0.02,0.01,0.01,0.00,0.05,0.05
Tarro,0.00,0.00,0.02,0.00,0.00,0.01,0.00,0.01,0.00,0.00,0.02,0.02
Beresfield,0.00,0.00,0.18,0.08,0.14,0.11,0.07,0.18,0.01,0.04,0.40,0.40
Thornton,0.00,0.00,0.15,0.02,0.06,0.08,0.05,0.15,0.01,0.02,0.27,0.27
Metford,0.00,0.00,0.10,0.02,0.05,0.05,0.02,0.09,0.01,0.01,0.18,0.18
Victoria Street,0.00,0.00,0.19,0.05,0.12,0.12,0.07,0.18,0.02,0.05,0.40,0.40
East Maitland,0.00,0.00,0.02,0.05,0.05,0.04,0.05,0.02,0.00,0.01,0.12,0.12
High Street,0.00,0.00,0.03,0.04,0.04,0.04,0.03,0.04,0.01,0.00,0.11,0.11
Maitland,0.00,0.01,0.19,0.10,0.18,0.21,0.15,0.18,0.02,0.04,0.54,0.54
Telarah,0.00,0.00,0.11,0.03,0.06,0.06,0.05,0.12,0.02,0.03,0.24,0.24
Mindaribba,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Paterson,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.01
Martins Creek,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01
Hilldale,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Wallarobba,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Wirragulla,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Dungog,0.00,0.00,0.02,0.00,0.01,0.02,0.01,0.02,0.00,0.01,0.04,0.04
Lochinvar,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01
Allandale,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Greta,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Branxton,0.00,0.00,0.02,0.00,0.00,0.00,0.00,0.01,0.00,0.01,0.02,0.02
Belford,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Singleton,0.00,0.00,0.03,0.01,0.00,0.00,0.01,0.03,0.01,0.01,0.05,0.05
Muswellbrook,0.00,0.00,0.01,0.00,0.03,0.01,0.00,0.04,0.01,0.02,0.05,0.05
Aberdeen,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.01
Scone,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.01,0.01

In [38]:
def threshold_count(xs):
    above_threshold = 0
    for x in xs:
        if x > 100:
            above_threshold += 1
    return above_threshold

trains[numeric_columns].apply(threshold_count)

IN_0200_0600      382
OUT_0200_0600     191
IN_0600_0930     2463
OUT_0600_0930    1855
IN_0930_1500     2071
OUT_0930_1500    2023
IN_1500_1830     1936
OUT_1500_1830    2429
IN_1830_0200      910
OUT_1830_0200    1876
IN_24_HOURS      2702
OUT_24_HOURS     2702
dtype: int64

In [39]:
trains[numeric_columns].apply(threshold_count, axis=1)

STATION
Central                   12
Town Hall                 12
Wynyard                   12
Parramatta                12
North Sydney              12
Redfern                   12
Chatswood                 12
Bondi Junction            12
Strathfield               12
Circular Quay             12
Martin Place              12
Hurstville                12
St Leonards               12
Blacktown                 12
Burwood                   12
Kings Cross               12
Hornsby                   11
Ashfield                  10
Kogarah                   10
Lidcombe                  10
Auburn                    11
Museum                    10
Epping                    11
Macquarie University      10
St James                  10
Rockdale                  10
Cabramatta                11
Bankstown                 10
Liverpool                 11
Sutherland                11
                          ..
Newcastle                  9
Waratah                    6
Warabrook (University)     6
Sandgate                   0
Hexham                     0
Tarro                      0
Beresfield                 6
Thornton                   4
Metford                    2
Victoria Street            6
East Maitland              2
High Street                2
Maitland                   7
Telarah                    4
Mindaribba                 0
Paterson                   0
Martins Creek              0
Hilldale                   0
Wallarobba                 0
Wirragulla                 0
Dungog                     0
Lochinvar                  0
Allandale                  0
Greta                      0
Branxton                   0
Belford                    0
Singleton                  0
Muswellbrook               0
Aberdeen                   0
Scone                      0
dtype: int64

# Pivot Tables

In [41]:
trains[trains.index == "Central"]

,LINE,YEAR,SURVEY_DATE_USED,WHETHER_SURVEYED,IN_0200_0600,OUT_0200_0600,IN_0600_0930,OUT_0600_0930,IN_0930_1500,OUT_0930_1500,IN_1500_1830,OUT_1500_1830,IN_1830_0200,OUT_1830_0200,IN_24_HOURS,OUT_24_HOURS,RANK,STATION_SORT_ID
STATION,,,,,,,,,,,,,,,,,,
Central,CBD,2014,6/05/2014,Yes,940,920,10390,42070,21400,30150,45370,16270,19010,7700,97110,97110,1,101
Central,CBD,2013,1/05/2013,Yes,910,910,10630,40280,19420,30940,44660,15130,18680,7050,94300,94300,1,101
Central,CBD,2012,2/05/2012,Yes,890,880,10270,38450,20080,30160,41990,14550,17820,7010,91050,91050,1,101
Central,CBD,2011,26/05/2011,Yes,840,830,8800,35390,19760,29110,40040,14540,17340,6910,86780,86780,1,101
Central,CBD,2010,11/05/2010,Yes,810,820,8750,35220,19140,28200,39240,14040,16220,5890,84160,84160,1,101
Central,CBD,2009,19/05/2009,Yes,830,820,8260,37720,19120,27680,41000,13480,16050,5570,85260,85260,1,101
Central,CBD,2008,20/05/2008,Yes,820,810,7460,38860,19140,26140,41280,12890,15460,5460,84160,84160,1,101
Central,CBD,2007,22/05/2007,Yes,780,770,7940,36610,18540,24930,38600,12650,14190,5090,80050,80050,1,101
Central,CBD,2006,16/05/2006,Yes,740,720,7510,34550,17460,24440,37650,11660,13300,5300,76660,76660,1,101
Central,CBD,2005,31/05/2005,Yes,700,690,7540,33030,16450,23550,35710,11260,12620,4480,73020,73020,1,101
Central,CBD,2004,20/05/2004,Yes,560,550,7600,31960,17550,23560,34260,11320,12510,5100,72480,72480,1,101

Can't groupby twice:

In [43]:
trains.groupby('YEAR').groupby('LINE').IN_24_HOURS.sum()

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [46]:
pandas.pivot_table(trains, index='YEAR', values=['IN_24_HOURS', 'OUT_24_HOURS'])

      IN_24_HOURS  OUT_24_HOURS
YEAR
2004  2958.366013   2958.366013
2005  2928.092105   2928.092105
2006  2974.967105   2974.967105
2007  3110.855263   3110.855263
2008  3256.250000   3256.250000
2009  3253.485342   3253.485342
2010  3265.635179   3265.635179
2011  3390.749186   3390.749186
2012  3411.038961   3411.038961
2013  3461.623377   3461.623377
2014  3618.538961   3618.538961

In [47]:
pandas.pivot_table(trains, index='YEAR', values=numeric_columns)

,IN_0200_0600,IN_0600_0930,IN_0930_1500,IN_1500_1830,IN_1830_0200,IN_24_HOURS,OUT_0200_0600,OUT_0600_0930,OUT_0930_1500,OUT_1500_1830,OUT_1830_0200,OUT_24_HOURS
YEAR,,,,,,,,,,,,
2004,40.522876,987.483660,669.411765,1000.784314,260.130719,2958.366013,25.588235,912.581699,685.784314,973.398693,362.222222,2958.366013
2005,43.223684,974.177632,652.138158,998.519737,259.967105,2928.092105,25.559211,917.105263,671.282895,951.447368,362.631579,2928.092105
2006,43.717105,974.901316,658.717105,1019.934211,277.631579,2974.967105,26.348684,944.276316,673.289474,953.388158,377.335526,2974.967105
2007,45.361842,1021.940789,680.559211,1066.381579,296.546053,3110.855263,28.223684,987.927632,694.243421,993.552632,406.809211,3110.855263
2008,48.618421,1071.085526,718.980263,1100.098684,317.401316,3256.250000,30.000000,1033.190789,723.421053,1039.835526,429.835526,3256.250000
2009,48.241042,1061.270358,734.267101,1079.120521,330.390879,3253.485342,29.967427,1003.127036,732.117264,1051.368078,436.872964,3253.485342
2010,48.436482,1062.280130,727.133550,1093.159609,334.462541,3265.635179,29.934853,1005.504886,728.469055,1051.726384,449.967427,3265.635179
2011,51.302932,1105.179153,747.524430,1129.087948,357.491857,3390.749186,30.944625,1048.078176,751.726384,1087.524430,472.866450,3390.749186
2012,50.844156,1116.493506,737.759740,1145.194805,360.584416,3411.038961,31.331169,1059.188312,757.240260,1082.759740,480.389610,3411.038961
2013,50.259740,1125.162338,734.512987,1165.487013,386.006494,3461.623377,31.915584,1076.785714,774.772727,1082.824675,495.811688,3461.623377
2014,52.142857,1176.266234,777.954545,1226.818182,385.194805,3618.538961,33.084416,1130.422078,809.545455,1131.785714,513.668831,3618.538961

In [48]:
pandas.pivot_table(trains, index='YEAR', values=numeric_columns, aggfunc=sum)

,IN_0200_0600,IN_0600_0930,IN_0930_1500,IN_1500_1830,IN_1830_0200,IN_24_HOURS,OUT_0200_0600,OUT_0600_0930,OUT_0930_1500,OUT_1500_1830,OUT_1830_0200,OUT_24_HOURS
YEAR,,,,,,,,,,,,
2004,12400,302170,204840,306240,79600,905260,7830,279250,209850,297860,110840,905260
2005,13140,296150,198250,303550,79030,890140,7770,278800,204070,289240,110240,890140
2006,13290,296370,200250,310060,84400,904390,8010,287060,204680,289830,114710,904390
2007,13790,310670,206890,324180,90150,945700,8580,300330,211050,302040,123670,945700
2008,14780,325610,218570,334430,96490,989900,9120,314090,219920,316110,130670,989900
2009,14810,325810,225420,331290,101430,998820,9200,307960,224760,322770,134120,998820
2010,14870,326120,223230,335600,102680,1002550,9190,308690,223640,322880,138140,1002550
2011,15750,339290,229490,346630,109750,1040960,9500,321760,230780,333870,145170,1040960
2012,15660,343880,227230,352720,111060,1050600,9650,326230,233230,333490,147960,1050600
2013,15480,346550,226230,358970,118890,1066180,9830,331650,238630,333510,152710,1066180
2014,16060,362290,239610,377860,118640,1114510,10190,348170,249340,348590,158210,1114510

In [49]:
pandas.pivot_table(trains, index='YEAR', values=numeric_columns, aggfunc=threshold_count)

,IN_0200_0600,IN_0600_0930,IN_0930_1500,IN_1500_1830,IN_1830_0200,IN_24_HOURS,OUT_0200_0600,OUT_0600_0930,OUT_0930_1500,OUT_1500_1830,OUT_1830_0200,OUT_24_HOURS
YEAR,,,,,,,,,,,,
2004,30,224,192,179,77,249,15,168,186,221,168,249
2005,32,223,189,177,74,247,15,167,184,220,167,247
2006,31,223,189,176,73,245,14,167,185,222,168,245
2007,35,224,187,174,78,245,17,165,183,222,169,245
2008,38,221,188,176,82,242,20,167,180,219,166,242
2009,35,222,184,178,90,245,20,171,180,219,169,245
2010,34,223,185,177,90,244,17,170,183,221,167,244
2011,35,226,188,178,89,245,18,168,184,223,173,245
2012,36,224,189,177,88,246,18,170,186,223,174,246
2013,39,226,189,171,87,246,19,167,185,219,178,246
2014,37,227,191,173,82,248,18,175,187,220,177,248

In [50]:
pandas.pivot_table(trains, 
                   index=['LINE','YEAR'], 
                   values=numeric_columns, 
                   aggfunc=sum)

                         IN_0200_0600  IN_0600_0930  IN_0930_1500  \
LINE               YEAR
Airport            2004             0          1330          1470
                   2005             0          1400          1550
                   2006            10          1480          1960
                   2007            20          1860          2290
                   2008            40          1920          2540
                   2009            30          2060          2620
                   2010            30          2390          2670
                   2011            40          2730          3310
                   2012            50          3410          4090
                   2013            50          4080          4940
                   2014            50          4980          5290
Bankstown          2004           600         21720         12990
                   2005           560         20240         11720
                   2006           590         20140         12120
                   2007           610         21430         12710
                   2008           710         23580         14750
                   2009           700         24280         15300
                   2010           710         24000         14620
                   2011           690         24050         14670
                   2012           690         24610         14620
                   2013           660         25190         14060
                   2014           600         25260         13720
Blue Mountains     2004           500          4690          1710
                   2005           640          4610          1780
                   2006           660          4590          1780
                   2007           600          4360          1740
                   2008           600          4200          1570
                   2009           610          4200          1570
                   2010           600          4070          1550
                   2011           580          3940          1540
...                               ...           ...           ...
South Coast        2007           490          5800          2850
                   2008           540          5410          2650
                   2009           570          4790          2700
                   2010           570          4710          2670
                   2011           620          4910          2960
                   2012           610          5250          2940
                   2013           590          5310          2930
                   2014           620          5370          3000
Southern Highlands 2004            10           770           290
                   2005            10           750           300
                   2006            70           690           220
                   2007            80           690           220
                   2008            90           710           240
                   2009           100           760           250
                   2010           120           710           390
                   2011           120           710           390
                   2012           120           710           380
                   2013           120           700           360
                   2014           160           710           470
Western            2004          2120         47760         27750
                   2005          2060         46590         26970
                   2006          2010         47110         26100
                   2007          2090         49670         25650
                   2008          2290         53600         29720
                   2009          2230         51660         30340
                   2010          2240         52130         28940
                   2011          2400         52990         30250
                   2012          2390         52290         29010
                   2013          2350         54690         28080
                   2014          2500         56620         30460

                         IN_1500_1830  IN_1830_0200  IN_24_HOURS  \
LINE               YEAR
Airport            2004          3160           720         6680
                   2005          3230           750         6930
                   2006          2990           770         7210
                   2007          3970          1100         9240
                   2008          4700          1260        10460
                   2009          3890          1280         9880
                   2010          4290          1460        10840
                   2011          6600          1990        14670
                   2012          7260          2480        17290
                   2013          7880          2760        19710
                   2014          8580          2980        21880
Bankstown          2004         11020          2220        48550
                   2005         10530          1980        45030
                   2006         11140          2270        46260
                   2007         10840          2030        47620
                   2008         11580          2290        52910
                   2009         11270          2330        53880
                   2010         11290          2340        52960
                   2011         10780          2640        52830
                   2012         10710          2600        53230
                   2013         10920          2510        53340
                   2014         12600          1870        54050
Blue Mountains     2004          1490           270         8660
                   2005          1450           270         8750
                   2006          1410           270         8710
                   2007          1410           250         8360
                   2008          1470           270         8110
                   2009          1480           270         8130
                   2010          1460           260         7940
                   2011          1550           270         7880
...                               ...           ...          ...
South Coast        2007          2790           860        12800
                   2008          2750           850        12210
                   2009          2520           720        11310
                   2010          2460           690        11100
                   2011          2300           810        11600
                   2012          2230           670        11700
                   2013          2360           690        11890
                   2014          2160           630        11780
Southern Highlands 2004           220            50         1340
                   2005           220            40         1320
                   2006           160            60         1200
                   2007           170            60         1220
                   2008           170            60         1270
                   2009           180            60         1360
                   2010           230            40         1500
                   2011           230            40         1500
                   2012           230            40         1490
                   2013           230            40         1460
                   2014           230            60         1640
Western            2004         30520          7550       115700
                   2005         29430          7390       112440
                   2006         29680          6370       111270
                   2007         30610          8280       116300
                   2008         32600          7240       125450
                   2009         31040          8330       123600
                   2010         31490          7640       122440
                   2011         32350          9220       127210
                   2012         32540          8710       124940
                   2013         33070          8650       126840
                   2014         35410          9050       134040

                         OUT_0200_0600  OUT_0600_0930  OUT_0930_1500  \
LINE               YEAR
Airport            2004              0           3360           1550
                   2005              0           3450           1620
                   2006            120           3440           1940
                   2007            300           4400           2180
                   2008            330           4940           2800
                   2009            320           4220           2590
                   2010            370           4590           2860
                   2011            350           6270           3570
                   2012            550           7590           4010
                   2013            540           8210           4740
                   2014            550           9160           4980
Bankstown          2004            410           8170          12390
                   2005            380           7640          11170
                   2006            390           8200          11150
                   2007            370           7950          11340
                   2008            450           8380          13300
                   2009            460           9190          12900
                   2010            460           8900          12270
                   2011            470           8530          12340
                   2012            450           8360          12080
                   2013            460           8510          12240
                   2014            470           8900          13140
Blue Mountains     2004             40           1050           1630
                   2005             40           1040           1770
                   2006             40            960           1770
                   2007             40            970           1680
                   2008             40            980           1670
                   2009             40            980           1670
                   2010             40            960           1640
                   2011             30           1040           1690
...                                ...            ...            ...
South Coast        2007             80           2560           2610
                   2008             80           2550           2490
                   2009             80           2240           2530
                   2010             80           2160           2490
                   2011             90           2250           2750
                   2012             70           2020           2600
                   2013             60           2100           2790
                   2014             60           2190           2840
Southern Highlands 2004              0            110            360
                   2005              0            110            320
                   2006             10            140            230
                   2007             10            140            230
                   2008             10            140            250
                   2009             10            140            260
                   2010             20            170            320
                   2011             20            170            320
                   2012             20            170            320
                   2013             20            170            320
                   2014             20            140            410
Western            2004           1030          25210          25920
                   2005           1020          24890          25230
                   2006           1010          25190          24340
                   2007           1040          25320          24050
                   2008           1150          27520          27210
                   2009           1130          27000          27200
                   2010           1070          26780          25260
                   2011           1060          28030          26050
                   2012           1060          28290          24840
                   2013           1080          28690          25840
                   2014           1140          30600          27100

                         OUT_1500_1830  OUT_1830_0200  OUT_24_HOURS
LINE               YEAR
Airport            2004           1480            310          6680
                   2005           1530            340          6930
                   2006           1330            390          7210
                   2007           1820            530          9240
                   2008           1880            540         10460
                   2009           2190            580          9880
                   2010           2380            630         10840
                   2011           3310           1160         14670
                   2012           3610           1510         17290
                   2013           4340           1880         19710
                   2014           4840           2340         21880
Bankstown          2004          21070           6490         48550
                   2005          19950           6040         45030
                   2006          20120           6380         46260
                   2007          21120           6830         47620
                   2008          23050           7690         52910
                   2009          23420           7930         53880
                   2010          23510           7790         52960
                   2011          23490           8040         52830
                   2012          24060           8320         53230
                   2013          23880           8300         53340
                   2014          24120           7440         54050
Blue Mountains     2004           4300           1610          8660
                   2005           4300           1600          8750
                   2006           4310           1600          8710
                   2007           4120           1550          8360
                   2008           3990           1460          8110
                   2009           3990           1480          8130
                   2010           3880           1430          7940
                   2011           3730           1400          7880
...                                ...            ...           ...
South Coast        2007           5330           2280         12800
                   2008           5080           2020         12210
                   2009           4450           1930         11310
                   2010           4390           1900         11100
                   2011           4470           2030         11600
                   2012           4760           2240         11700
                   2013           4600           2290         11890
                   2014           4730           2000         11780
Southern Highlands 2004            540            320          1340
                   2005            520            300          1320
                   2006            460            370          1200
                   2007            470            370          1220
                   2008            470            380          1270
                   2009            520            390          1360
                   2010            610            400          1500
                   2011            590            410          1500
                   2012            580            400          1490
                   2013            580            400          1460
                   2014            620            390          1640
Western            2004          47540          16020        115700
                   2005          45320          15930        112440
                   2006          44390          16360        111270
                   2007          47120          18750        116300
                   2008          49740          19820        125450
                   2009          49060          19250        123600
                   2010          49440          19850        122440
                   2011          51240          20870        127210
                   2012          49690          21080        124940
                   2013          49340          21890        126840
                   2014          51700          23500        134040

[220 rows x 12 columns]

In [52]:
pandas.pivot_table(trains, 
                   index=['LINE','YEAR'], 
                   values=["IN_24_HOURS", "OUT_24_HOURS"], 
                   aggfunc=[sum, len, threshold_count])

                                sum                      len               \
                        IN_24_HOURS OUT_24_HOURS IN_24_HOURS OUT_24_HOURS
LINE               YEAR
Airport            2004        6680         6680           4            4
                   2005        6930         6930           4            4
                   2006        7210         7210           4            4
                   2007        9240         9240           4            4
                   2008       10460        10460           4            4
                   2009        9880         9880           4            4
                   2010       10840        10840           4            4
                   2011       14670        14670           4            4
                   2012       17290        17290           4            4
                   2013       19710        19710           4            4
                   2014       21880        21880           4            4
Bankstown          2004       48550        48550          21           21
                   2005       45030        45030          21           21
                   2006       46260        46260          21           21
                   2007       47620        47620          21           21
                   2008       52910        52910          21           21
                   2009       53880        53880          21           21
                   2010       52960        52960          21           21
                   2011       52830        52830          21           21
                   2012       53230        53230          21           21
                   2013       53340        53340          21           21
                   2014       54050        54050          21           21
Blue Mountains     2004        8660         8660          21           21
                   2005        8750         8750          21           21
                   2006        8710         8710          21           21
                   2007        8360         8360          21           21
                   2008        8110         8110          21           21
                   2009        8130         8130          21           21
                   2010        7940         7940          21           21
                   2011        7880         7880          21           21
...                             ...          ...         ...          ...
South Coast        2007       12800        12800          34           34
                   2008       12210        12210          34           34
                   2009       11310        11310          34           34
                   2010       11100        11100          34           34
                   2011       11600        11600          34           34
                   2012       11700        11700          34           34
                   2013       11890        11890          34           34
                   2014       11780        11780          34           34
Southern Highlands 2004        1340         1340          18           18
                   2005        1320         1320          18           18
                   2006        1200         1200          18           18
                   2007        1220         1220          18           18
                   2008        1270         1270          18           18
                   2009        1360         1360          18           18
                   2010        1500         1500          18           18
                   2011        1500         1500          18           18
                   2012        1490         1490          18           18
                   2013        1460         1460          18           18
                   2014        1640         1640          18           18
Western            2004      115700       115700          29           29
                   2005      112440       112440          29           29
                   2006      111270       111270          29           29
                   2007      116300       116300          29           29
                   2008      125450       125450          29           29
                   2009      123600       123600          29           29
                   2010      122440       122440          29           29
                   2011      127210       127210          29           29
                   2012      124940       124940          29           29
                   2013      126840       126840          29           29
                   2014      134040       134040          29           29

                        threshold_count
                            IN_24_HOURS OUT_24_HOURS
LINE               YEAR
Airport            2004               4            4
                   2005               4            4
                   2006               4            4
                   2007               4            4
                   2008               4            4
                   2009               4            4
                   2010               4            4
                   2011               4            4
                   2012               4            4
                   2013               4            4
                   2014               4            4
Bankstown          2004              21           21
                   2005              21           21
                   2006              21           21
                   2007              21           21
                   2008              21           21
                   2009              21           21
                   2010              21           21
                   2011              21           21
                   2012              21           21
                   2013              21           21
                   2014              21           21
Blue Mountains     2004              17           17
                   2005              17           17
                   2006              16           16
                   2007              17           17
                   2008              15           15
                   2009              15           15
                   2010              15           15
                   2011              16           16
...                                 ...          ...
South Coast        2007              21           21
                   2008              20           20
                   2009              20           20
                   2010              20           20
                   2011              20           20
                   2012              20           20
                   2013              21           21
                   2014              21           21
Southern Highlands 2004               6            6
                   2005               6            6
                   2006               5            5
                   2007               5            5
                   2008               5            5
                   2009               5            5
                   2010               5            5
                   2011               5            5
                   2012               5            5
                   2013               5            5
                   2014               6            6
Western            2004              28           28
                   2005              27           27
                   2006              27           27
                   2007              27           27
                   2008              27           27
                   2009              27           27
                   2010              27           27
                   2011              27           27
                   2012              28           28
                   2013              28           28
                   2014              28           28

[220 rows x 6 columns]

In [54]:
pandas.pivot_table(trains, 
                   index=['LINE'], 
                   values=["IN_24_HOURS"],
                   columns=["YEAR"],
                   aggfunc=sum)

                            IN_24_HOURS                                  \
YEAR                               2004    2005    2006    2007    2008
LINE
Airport                            6680    6930    7210    9240   10460
Bankstown                         48550   45030   46260   47620   52910
Blue Mountains                     8660    8750    8710    8360    8110
CBD                              252840  254910  268030  280840  291910
Carlingford                        1450    1410    1410    1370    1380
Central Coast                     16190   16250   15910   15890   15060
East Hills                        48290   47290   47670   49160   51800
Eastern Suburbs                   35120   34290   35580   36320   38020
Hunter                             3530    3750    3960    3800    3810
Illawarra                         81090   80320   78880   82270   85300
Inner West                        60920   58670   58010   61560   63710
Newcastle                          7420    7510    7490    7380    7560
North Shore                      112690  109020  110250  113530  118430
Northern via Macquarie Park       11210   10910   10530   10430   10420
Northern via Strathfield          27750   28470   29040   33000   34550
Olympic Park                        500     710     710     710     710
South                             51840   49490   49250   53900   56830
South Coast                       13490   12670   13020   12800   12210
Southern Highlands                 1340    1320    1200    1220    1270
Western                          115700  112440  111270  116300  125450


YEAR                           2009    2010    2011    2012    2013    2014
LINE
Airport                        9880   10840   14670   17290   19710   21880
Bankstown                     53880   52960   52830   53230   53340   54050
Blue Mountains                 8130    7940    7880    8310    7870    7980
CBD                          288920  292950  303640  310660  321830  334580
Carlingford                    1420    1470    1400    1270    1170    1340
Central Coast                 15120   14830   15320   15100   14800   14480
East Hills                    51650   48980   53080   52040   49910   51380
Eastern Suburbs               36770   36560   39950   40230   41250   41940
Hunter                         3540    3390    3750    3640    3800    3940
Illawarra                     90120   87980   91420   89880   90660   99550
Inner West                    66450   64360   69200   68150   71110   72440
Newcastle                      7570    7750    8740    8270    8120    8420
North Shore                  119890  121390  123490  129750  125590  131400
Northern via Macquarie Park   17930   21690   23580   24030   24130   26840
Northern via Strathfield      33390   34630   35630   36190   37380   39230
Olympic Park                   1940    3070    2230    2710    2600    4090
South                         55950   56720   53840   51720   52720   53510
South Coast                   11310   11100   11600   11700   11890   11780
Southern Highlands             1360    1500    1500    1490    1460    1640
Western                      123600  122440  127210  124940  126840  134040

In [55]:
ugly_df = pandas.pivot_table(trains, 
                   index=['LINE','YEAR'], 
                   values=["IN_24_HOURS", "OUT_24_HOURS"], 
                   aggfunc=[sum, len, threshold_count])

In [57]:
ugly_df[('sum', 'IN_24_HOURS')]

LINE                YEAR
Airport             2004      6680
                    2005      6930
                    2006      7210
                    2007      9240
                    2008     10460
                    2009      9880
                    2010     10840
                    2011     14670
                    2012     17290
                    2013     19710
                    2014     21880
Bankstown           2004     48550
                    2005     45030
                    2006     46260
                    2007     47620
                    2008     52910
                    2009     53880
                    2010     52960
                    2011     52830
                    2012     53230
                    2013     53340
                    2014     54050
Blue Mountains      2004      8660
                    2005      8750
                    2006      8710
                    2007      8360
                    2008      8110
                    2009      8130
                    2010      7940
                    2011      7880
                             ...
South Coast         2007     12800
                    2008     12210
                    2009     11310
                    2010     11100
                    2011     11600
                    2012     11700
                    2013     11890
                    2014     11780
Southern Highlands  2004      1340
                    2005      1320
                    2006      1200
                    2007      1220
                    2008      1270
                    2009      1360
                    2010      1500
                    2011      1500
                    2012      1490
                    2013      1460
                    2014      1640
Western             2004    115700
                    2005    112440
                    2006    111270
                    2007    116300
                    2008    125450
                    2009    123600
                    2010    122440
                    2011    127210
                    2012    124940
                    2013    126840
                    2014    134040
Name: (sum, IN_24_HOURS), dtype: int64

In [58]:
ugly_df.loc[('Bankstown', 2014), ('sum', "IN_24_HOURS")]

54050